{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
<div class="container">
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr> #}
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nom }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ patient.dateNaissance ? patient.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu_naissance</th>
                <td>{{ patient.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ patient.matricule }}</td>
            </tr>
            <tr>
                <th>Lieu_service</th>
                <td>{{ patient.lieuService }}</td>
            </tr>
            <tr>
                <th>Date_entree_service</th>
                <td>{{ patient.dateEntreeService ? patient.dateEntreeService|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre_enfant</th>
                <td>{{ patient.nombreEnfant }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ patient.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone_bureau</th>
                <td>{{ patient.telephoneBureau }}</td>
            </tr>
            <tr>
                <th>Telephone_personnel</th>
                <td>{{ patient.telephonePersonnel }}</td>
            </tr>
            <tr>
                <th>Situation_matrimoniale</th>
                <td>{{ patient.sm(patient.situationMatrimoniale) }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_patient_index') }}" class="btn btn-primary">{{'btnRetour'|trans}}</a>

    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}" class="btn btn-success">{{'btnMettreAjour'|trans}}</a>
    <a href="{{ path('app_delete_patient', {'id': patient.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce patient?');">{{'btnSupprimer'|trans}}</a>

    {# {{ include('patient/_delete_form.html.twig') }} #}
</div>
{% endblock %}


