{{ form_start(form) }} 
    {{ form_widget(form) }}
    <button class="btn btn-success" >{{ button_label|default('Save') }}</button> 
    <a href="{{ path('app_conseil_index') }}" class="btn btn-primary">{{ 'btnRetour'|trans}}</a>
{{ form_end(form) }}