{% extends 'base.html.twig' %}

{% block title %}Certificat{% endblock %}

{% block body %}
    <h1>Certificat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ certificat.id }}</td>
            </tr>
            <tr>
                <th>Avis_traitant</th>
                <td>{{ certificat.avisTraitant }}</td>
            </tr>
            <tr>
                <th>Decision</th>
                <td>{{ certificat.decision }}</td>
            </tr>
            <tr>
                <th>Plainte_doleance</th>
                <td>{{ certificat.plainteDoleance }}</td>
            </tr>
            <tr>
                <th>Examen_clinique</th>
                <td>{{ certificat.examenClinique }}</td>
            </tr>
            <tr>
                <th>Avis_medecin_conseil</th>
                <td>{{ certificat.avisMedecinConseil }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_certificat_index') }}">back to list</a>

    <a href="{{ path('app_certificat_edit', {'id': certificat.id}) }}">edit</a>

    {{ include('certificat/_delete_form.html.twig') }}
{% endblock %}
